@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;

    --botao-azul-efeito: #3c92fa;
}

* {
    margin: 0;
    padding: 0;
}
 
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
} 

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75rem;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: #00030C;
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

/* container secundario */

.secundario__imagem {
    width: 80%;
}

.container__descricao {
    padding: 2em;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em
}

/* lista de dispositivos */

.dispositivos {
    text-align: center;
}

.dispositivos__titulos {
    font-size: 3rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: var(--branco-principal);
    margin: 5em 0;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

/* rodapé */

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    margin: 2em;
}

.rodape__lista__navegacao {
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__lista__navegacao:hover{
    color: var(--botao-azul);
}

.rodape__lista__navegacao:active{
    color: purple; 
}

.rodape__texto {
    margin: 1em 0;
    font-size: 0.88rem;
    color: var(--cinza-secundario);
}